<html>

<head>
  <link rel="stylesheet" type="text/css" href="semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
  </script>
  <script src="semantic.js"></script>
</head>

<body>
  <div class="fixed top ui menu grid inverted">
    <a class="ui header item" href="/">
      <img src="oracle_logo_20%.html" class="image">
    </a>
    <a class="ui item">About the Order</a>
    <a class="ui item">Services</a>
    <a class="ui item">Consultation</a>
    <a class="ui item">Resources</a>
    <div class="right item">
      <div class="ui animated inverted button">
        <div class="visible content">Contact Us</div>
        <a href=mailto:joshua.thomas@ooto.technology>
          <div class="hidden content">
            <i class="mail icon"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
